<!DOCTYPE html>
  <html lang="{{ shop.locale }}">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page_title }}{% if current_tags %}{% for tag in current_tags %} - {{ tag }}{% endfor %}{% endif %}</title>
      
      
      
      {% render 'css-variables' %}
      <link rel="stylesheet" href="{{ 'normalize.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">

   
  

      {{ content_for_header }}
    </head>
    <body>
      <header>
        {% section 'header' %}
      </header>
      
      <main role="main">
        {{ content_for_layout }}
      </main>
      
      <footer>
        {% section 'footer' %}
      </footer>
      
    </body>
  </html>
  