<div class="container">
  <div class="site-header">
    {% if settings.logo != blank %}
      <a class="logo-link" href="{{ shop.url }}">
        <img
          src="{{ settings.logo | img_url: 'medium' }}"
          alt="{{ shop.name | escape }}"
          style="width: {{ settings.logo_width }}px;"
        >
        </a>
      {% endif %}
      
      <nav class="header-nav nav">
        <ul class="nav__list list">
          {% for link in linklists['main-menu'].links %}
            <li class="list__item item">
              <a class="item__link" href="{{ link.url }}">{{ link.title }}</a>
              
              {% render 'chevron-down' %}
            </li>
          {% endfor %}
        </ul>
        
      </nav>
      
      <div class="header-icons">
        <a href="{{ routes.search_url }}" class="header-icon">
          {% render 'icon-search' %}
        </a>
        
        <a href="{{ routes.wishlist_url }}" class="header-icon">
          {% render 'icon-heart' %}
        </a>
        
        <a href="{{ routes.cart_url }}" class="header-icon">
          {% render 'shopping-cart' %}
      </a>
      </div>
    </div>
  </div>
  